body{
    background-color: #ffffff;
}
p{
    text-indent: 20px;
}

h1{
    font: 40px "HelveticaNeue";
    padding-bottom: 52px;
}

h2{
    margin-top: 50px;
    font-size: 22px;
    text-align: center;
}

h4{
    
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace;   

}
img{
    float: left;
    padding-right: 2%;
    padding-bottom: 2%;
    
}

ul{
    
    list-style: square; 
}


.tituloprincipal{
    
  padding-left: 40%;
  margin-top: 20px;
    font: 40px "HelveticaNeue";

}
.titulo{
    text-align: center;
    
}
.menu {
    list-style-type: none;
    margin: 0 0 24px 0 ;
    padding: 0;
    overflow: hidden;
    background-color: #3399ff;
    
}

.submenu {
    float: left;
    border-right:1px solid #bbb;
}

.submenu:last-child {
    border-right: none;
}

.submenu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #333399;
}

.contenedorIzquierdo{
    
    margin-left: 5%;
   /* margin-right: 19%;
    margin-top: 5%;*/
    width: 55%;
    text-align: justify;
    float: right;
    float: left;
    
}

.separacion {
    margin-top: 10px;
}
.contenedorDerecho{
    width: 30%;
    margin-right: 5%;
    
    
    text-align: justify;
    float: right;
    background-color: #3399ff;
    border-radius: 10px;
    padding-right: 30px;
}

.opinion{
    margin-left: 5%;
}



